{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid" style="background-image:url('https://res.cloudinary.com/zilfa/image/upload/v1600501637/oo_nyungwe_house_landscape_sunrise_mist_at_nyungwe_forest_28_9_2017_LR_1020x525_acf_cropped_wybh45.jpg');background-size: cover; height: 91.08vh; background-position: center;margin-top: -0.55cm;">
    <div>
        <h1 style="text-align: center;font-weight: bold;color: black;margin-top: 70px;font-family: 'Times New Roman', Times, serif;">Register with Your Credentials</h1>
        <div class="row" style="color: white;">
            <div class="col-md-2"> </div>
            <div class="col-md-8">

                {{wtf.quick_form(registration_form)}}

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock%}