{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Courgette&display=swap" rel="stylesheet">

{% block content%}
<div class="container-fluid"
    style="background-image:url('https://res.cloudinary.com/zilfa/image/upload/v1607337619/zhang-kaiyv-DS9pwLl5ycs-unsplash_rt1xek.jpg');background-size: cover; height: 89.4vh; background-position: center;margin-top: -0.55cm;">
    <div style="margin-top:70px;color: black;">
        <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center;margin-bottom: 30px;"><strong>Write a
                Comment</strong>
        </h1>
        <div style="width: 650px;margin-left: 350px;">
            {{ wtf.quick_form(form)}}
        </div>
        <br>
        <br>
        
        {% if comments %}

        <div class="col-md-6">
            {% for comment in comments %} <div class="card">
                <div class="card p-3">
                    <p class="card-title" style="font-family: 'Bad Script', cursive; margin-left: 350px;">
                        {{ comment.comment | capitalize }}
                    </p>

                    <p>
                    <ul> <span class="card-text"
                            style="font-family: 'Courgette', cursive;font-weight: bold; font-size:16px;margin-left: 350px;">__{{ comment.user.username | capitalize}}</span>
                    </ul>
                    </p>
                    <hr style="border: 1px solid white; margin-left: 350px; width: 650px;">
                </div>
            </div>
            {% endfor %}

        </div>
        {% else %}
        <p> No Comments</p>
        {%endif%}
    </div>
</div>
{% endblock %}