{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container-fluid" style="background-image:url(https://res.cloudinary.com/zilfa/image/upload/v1607280594/jonas-denil-SITopP_6xAo-unsplash_putsws.jpg);background-size: cover; height: 89.4vh; background-position: center;margin-top: -0.55cm;">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8" style="color: white;">
            <h3 class="text-center m-5" style="font-weight: bold;font-size: 50px;margin-top: 80px;letter-spacing:2px;font-family: 'Times New Roman', Times, serif;">Update A Post</h3>
            <br>
            <div>
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}